@charset "UTF-8";

.myProductList {
	text-align: center;
	font: italic;
	color: #1c3316;
	
}
.myProductListTable {
	text-align: center;
 	line-height: 1.5;
	width: 80%;
	border: 1px solid #1c3316;
	border-collapse: collapse;
    border-radius: 25px;
	color: #1c3316;
	padding: 0px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px; 
}
#listMyProduct-button {
	background-color: #b0d282;
    color: white;
    border-radius: 10px;
    float: none;
    border-color: white;
}
th {
	text-align: center;
	padding: 3px;
}

